* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
@media (max-width: 1366px) {
    .title h1 {
        font-size: 2rem;
    }

    .content h3 {
        font-size: 1.2rem !important;
    }

    .content p {
        font-size: 0.7rem;
        width: 105%;
    }


    .content-section .social {
        display: flex !important;
        margin: 35px 0px 0px 0px !important;
        /* padding: 30px 0px !important; */
    }

    .ABOUT-US .bungkus {
        height: 30% !important;
        width: 50% !important;
    }
    .ABOUT-US .bungkus h1 {
        font-size: 3rem;   
    }

    .ABOUT-US .bungkus p {
        font-size: 2rem;
    }

    .ABOUT-US .bungkus a {
        font-size: 2rem!important;
    }
}
@media (max-width: 768px) {
    .content p {
        width: 95%;
    }

    footer {
        height:auto;
    }

    .allUP {
        gap: 5px;
    }

    .ABOUT-US .bungkus {
        height: 30% !important;
        width: 50% !important;
    }

    .ABOUT-US .bungkus h1 {
        font-size: 2rem;   
    }

    .ABOUT-US .bungkus p {
        font-size: 1.3rem;
    }

    .ABOUT-US .bungkus a {
        font-size: 1rem!important;
    }

    
    footer {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        /* padding: 0vh 100vw; */

        gap: 40px;
        height: auto;
        
    }
    .footer-about a.btn {
        font-size: 0.8rem;
    }

    .footer-about,
    .footer-kategori,
    .footer-contact {
        align-items: center!important;
        text-align: center;
        letter-spacing: 0.5px;
        width: 100vw!important;
        font-size: 1.2rem;
        padding: 10px 40px!important;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
    .footer-contact{
        border-bottom: none;
    }
    footer p {
        font-size: 1.2rem;
    }

    .footer-about .copyright {
        position: static;
        margin-top: 30px;
        font-size: 0.8rem!important;
    }

    .footer-kategori .list-footer-kategori ul,
    .footer-contact .list-footer-contact ul {
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
    }

    .footer-kategori .list-footer-kategori li,
    .footer-contact .list-footer-contact li {
        width: auto;
        padding-bottom: 8px;
    }

    .footer-contact .list-footer-contact i {
        padding-right: 10px;
        font-size: 1.2rem;
    }
}

/* Responsif untuk layar sangat kecil (≤480px) */
@media screen and (max-width: 480px) {

    .title h1 {
        font-size: 1.6rem !important;
    }

    
    .content h3 {
        font-size: 1rem !important;
    }
    .section {
        width: 100%!important;
    }

    .content p {
        font-size: 1rem !important;
        text-align: justify;
        
    }
    /* .section {
        align-items: center!important;
    } */
    .bacaan .image-section {
        position:absolute;
        transform: translate(13%, -180%);
    }
    
    


    .social i {
        font-size: 1.5rem !important;
    }
    .ABOUT-US .bungkus {
        height: 25%!important;
        width:60%!important;
        /* padding: 30px; */
    }
    .ABOUT-US .bungkus h1{
        font-size: 1.5rem;
    }
    .ABOUT-US .bungkus p {
        font-size: 0.8rem;
    }
    .ABOUT-US .bungkus a{
       font-size:  0.8rem!important;  
      }





    footer {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;

        gap: 40px;
        height: auto;
        
    }
    .footer-about a.btn {
        font-size: 0.8rem;
    }

    .footer-about,
    .footer-kategori,
    .footer-contact {
        align-items: center!important;
        text-align: justify;
        letter-spacing: 0.5px;
        width: 100vw!important;
        font-size: 1.2rem;
        padding: 10px 25px!important;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }
    .footer-contact{
        border-bottom: none;
    }
    footer p {
        font-size: 1.2rem;
    }

    .footer-about .copyright {
        position: static;
        margin-top: 30px;
        font-size: 0.8rem!important;
    }

    .footer-kategori .list-footer-kategori ul,
    .footer-contact .list-footer-contact ul {
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
    }

    .footer-kategori .list-footer-kategori li,
    .footer-contact .list-footer-contact li {
        width: auto;
        padding-bottom: 8px;
    }

    .footer-contact .list-footer-contact i {
        padding-right: 10px;
        font-size: 1.2rem;
    }

}
body {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
/* jalur scrollbar */
::-webkit-scrollbar-track {
    background:#d9d9dc; 
    border-radius: 10px; 
}

/* Handle (bagian yang bisa digeser) */
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

/* Hover effect pada handle scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff9966, #ff5e62);
    
}
.borderUP{
    background: #ecd29a;
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.borderUP .judul{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50% );
    visibility: visible;
    transition: background-color 0.3s, transform 0.3s;

}

/* .scrolled {
    background-color: #800080;
    transform: scale(1.1);
} */
.borderUP .judul a{
    text-decoration: none;
}
.borderUP .judul h1{

    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
    z-index: 2;
   
    color: #000;
}

.borderUP #search-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.borderUP #search-overlay.show{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.borderUP #search-overlay.search-bar input {
    position:absolute;
    display: inline;
    width: 55%;
    transform: translate(-50%);
    left: 50%;
    bottom: 10%;
    border-radius: 25px;
    height: 30px;
    border-color: transparent;
    padding-left: 2%;
}
.borderUP button.hidden{
visibility: hidden;
opacity: 0;
transition: opacity 0.3s ease-in-out;
}


.borderUP button{
    position: absolute;
    height: 25px;
    width: 25px;
    left: 20%;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.allUP{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 70px;
    right: 5%;
    gap: 25px;
}

.allUP a {
    color: #fff;
    font-size: 15px;
}

.section {
    /* display: block; */
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 150px;
    background-color: #fcfae5;
}



.content-section {
    float: left;
    width: 100%;
    padding-left: 50px;
    text-align: justify;
    /* margin: 0px 10vw; */
}
.content {
    width: 100%;
}

.bacaan .text {
    width: 50%;
}
.bacaan .text p {
    margin-top: 10px;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 1.5;
}

.content .bacaan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.image-section {
    padding-right: 150px;

    
}
.image-section img{
    width: auto;
    max-width: 200px;
    max-height: 200px;
    height: auto;
  

}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3{
    margin-top: 20px;
    color: #3d3d3d;
    font-size: 21px;
}



.content-section .social {
    margin: 40px 40px;
    padding-bottom: 100px;
}

.content-section .social i{
    color: #ecd29a;
    font-size: 30px;
    padding: 0px 30px;
}

.content-section .social i:hover{
    color: #3d3d3d;
}


footer {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    min-height: 60vh;
    height: auto;
    width: 100vw;
    background: #000000;
    color: #fff;
    padding: 100px 150px;
    align-items: center;
}

.footer-about, .footer-kategori, .footer-contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-right: 0;
    font-size: 1.5rem;

}

.border-footer-about {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-about .copyright {
    position: absolute;
    text-align: center;
    color: #888;
    font-size: 1.2rem;
    margin-top: 20px;
    bottom:80px;
}

.footer-about .border-footer-about a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.footer-about .border-footer-about .logo {
    width: 100px;
    border-radius: 30px;
}

.footer-about .btn {
    padding-top: 20px;
    color: #fff;
    font-size: 1.5rem;
}

.footer-about .btn:hover {
    transform: scale(1.05);
}


.footer-kategori .list-footer-kategori a, .footer-contact .list-footer-contact a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding-top: 10px;
    /* text-align:right; */
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
   
}
.footer-kategori .list-footer-kategori ul, .footer-contact .list-footer-contact ul {
    list-style: none;
    display: flex;
    width: fit-content;
    flex-direction: column;
   } 

.footer-kategori .list-footer-kategori li, .footer-contact .list-footer-contact li {
     padding-bottom: 10px;
     /* display: inline-block; */
     width: fit-content;

   }

.footer-kategori .list-footer-kategori a:hover {
    border-bottom: 2px solid #ff6f61; /* Garis bawah yang muncul saat hover */
    color: #ff6f61; 
   
}
.footer-kategori .list-footer-kategori li:hover {
    transform: scale(1.05);
}
.footer-contact .list-footer-contact li:hover{
    transform: scale(1.1);
}

.footer-contact .list-footer-contact li:nth-child(1) a:hover i {
    color: #1877F2
}
.footer-contact .list-footer-contact li:nth-child(2) a:hover i {
    color: #1da1f2;
}

.footer-contact .list-footer-contact li:nth-child(3) a:hover i {
    color: #d62976
}

.footer-contact .list-footer-contact li:nth-child(4) a:hover i {
    color: #ff0000;
}

.footer-contact .list-footer-contact {
    color: #fff;
    font-size: 1.2rem;
    padding-top: 25px;
}

.footer-contact .list-footer-contact i {
    color: #fff;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-right: 20px;
    transition: color 0.3s ease;

}